.AssignmentCard {
    width: 95% !important;
}

.docFile i {
    margin: 5px;
    float: right;
}

.FeedbackCardElement > .content > .header {
    margin-top: 5px !important;
}

.FeedbackDate {
    margin-left: auto;
}

.FeedbackCardElement {
    width: 95% !important;
}
