.HomeDiv {
    margin: 0px 120px;
}

.HomeDiv:after {
    content: '';
    display: table;
    clear: both;
}

.HomeDiv > div {
    float: left;
}

.HomeDivSide {
    width: 25%;
}

.HomeDivLeft {
    padding-right: 100px;
}

.HomeDivRight {
    padding-left: 100px;
}

.HomeDivMiddle {
    width: 50%;
}
