body {
    margin: 0px 120px;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.clickableChangeColor:hover {
    cursor: pointer;
    color: #3a58c4;
    text-decoration: underline;
}

.clickableChangeColor {
    color: black;
    transition: 0.05s;
}

.clickableHighlightBack:hover {
    background: local;
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.clickableHighlightBack {
    transition: 0.2s;
    border-radius: 6px;
}

.settingHover:hover {
    background-color: rgb(246, 251, 253);
    cursor: pointer;
}

a:hover {
    color: #3a58c4;
    text-decoration: underline;
}

.edit:hover {
    cursor: pointer;
    color: #3a58c4;
}
.checkmark:hover {
    cursor: pointer;
}
.x:hover {
    cursor: pointer;
}
.close:hover {
    cursor: pointer;
}
.undo:hover {
    cursor: pointer;
}
.setting:hover {
    cursor: pointer;
}
