.FloatingCenterDiv a {
    width: 33.33%;
    align-content: center;
    flex-direction: column;
}

.AssignmentCardGroup {
    display: inline-block;
    overflow-y: scroll;
    max-height: 600px;
}

.AccordionElement > .content > .cards {
    display: inline-block;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 400px;
}
